
.side_bar
  .side-header
    .side-header__box
      %p.side-header__box__username
        masa
      %ul.side-header__box__menu
        %li.side-header__box__menu__edit-user
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__menu__new-group
          = link_to "#" do
            = icon('fas', 'cog')

  
  .groups
    .group
      .groups__box
        .groups__box__group-name
          techcamp
        .groups__box__latest-text
          まだテキストはありません
    .group
      .groups__box
        .groups__box__group-name
          techcamp
        .groups__box__latest-text
          まだテキストはありません
    
  　